<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Clicker.Properties.Settings>
            <setting name="Money" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerClick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PerSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clicker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boughtclicker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="miner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boughtminer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoclicker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boughtautoclicker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autominer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boughtautominer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="clickeramount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mineramount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoclickeramount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="automineramount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalperclick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalpersecond" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="clickerprice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minerprice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoclickerprice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autominerprice" serializeAs="String">
                <value>0</value>
            </setting>
        </Clicker.Properties.Settings>
    </userSettings>
</configuration>